@model E_Commerce.VM.ViewModels.SupplierVM

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    @*<form asp-action="Add">*@
    @using (Html.BeginForm("Add", "Supplier", FormMethod.Post, new { id = "AddFrom" }))
    {
        <div class="modal-body">
            <div class="container">
                @Html.LabelFor(c => c.SupplierName)
                @Html.TextBoxFor(c => c.SupplierName, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SupplierName)
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
        @*</form>*@
    }
</div>

